
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit;}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Begin site styles... */

html {
  padding: .5em;
	font-family: 'Quicksand', Helvetica, Arial, sans-serif;
  background-color: #e0e0da;
  margin: 1em;
}

header {
  background-image: url("Banner.jpg");
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  height: 100vh;
  max-width:100%;
  height: auto;
}

h1 {
  font-size: 3.5em;
  text-align: center;
  color: #030130;
  font-weight: bold;
  gird-row: 6 / 7;
  color: #ffffff;
}

p {
	color: #030130;
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 2.5%;
	padding-top: 1%;
	margin: 1em;
}

h2 {
	font-size: 1.3em;
	text-align: center;
  color: #030130;
	padding-bottom: 3%;
}


img {
  display: block;
  max-width: 90%;
  padding-bottom: 0em;
  padding-top: 0.5em;
  padding-left: 1em;
}

figure {
  font-size: 1em;
  display: block;
  max-width: 100%
}

figcaption {
  margin: 1em;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.main{
  display: flex;
}

.cotntent{
  display: grid;
  grid-template-columns: auto auto;
}


footer {
  text-align: center;
}
